<!doctype html>
<html lang="en">
  <head>
    <title>Radicle Foundation</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="twitter:site" content="@radiclefn" />
    <meta name="twitter:creator" content="@radiclefn" />
    <meta property="og:title" content="Radicle Foundation" />
    <link rel="shortcut icon" href="/favicon.png" />
    <link rel="stylesheet" type="text/css" href="/css/index.css">
  </head>
  <body>
    <header class="logo"><!-- @radicle-foundation.svg --></header>
    <main>
      <p>The Radicle Foundation is a Swiss non-profit foundation committed to
      supporting projects and people developing non-extractive peer-to-peer
      technologies that promote Internet freedom.</p>

      <p>One such project is <a href="https://radicle.xyz">Radicle</a>, a peer-to-peer code
      collaboration stack for decentralized communities.</p>
    </main>
    <a class="join" href="/join">Join us</a>
    <footer>
      <p>🇨🇭 Established 2020 in Zug, Switzerland</p>
      <p>🖋 Copyright 2021 Radicle Foundation</p>
    </footer>
  </body>
</html>
