<!doctype html>
<html lang="en">
  <head>
    <title>Radicle Foundation</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="twitter:site" content="@radiclefn" />
    <meta name="twitter:creator" content="@radiclefn" />
    <meta property="og:title" content="Radicle Foundation" />
    <link rel="shortcut icon" href="/favicon.png" />
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="preload" href="/fonts/Inter-Regular.woff" as="font" type="font/woff" />
    <style>
      @font-face {
        font-family: "Inter";
        src: url("/fonts/Inter-Regular.woff");
      }
    </style>
  </head>
  <body>
    <header class="logo"><!-- @radicle-foundation.svg --></header>
    <main>
      <p>The Radicle Foundation is a Swiss non-profit foundation committed to
      supporting projects and people developing non-extractive peer-to-peer
      technologies that promote Internet freedom.</p>

      <p>One such project is <a href="https://radicle.xyz"><span>Radicle</span></a>, a peer-to-peer code
      collaboration stack for decentralized communities.</p>
    </main>
    <nav>
      <a href="/about"><span>About</span></a>
      <a href="/join"><span>Join us</span> -></a>
    </nav>
    <!-- @footer.html -->
  </body>
</html>
